@media only screen and (max-width: 1700px){

}

@media only  screen and (max-width: 1600px){

}

@media only  screen and (max-width: 1400px){

}


@media only  screen and (max-width: 1300px){

}

@media only  screen and (max-width: 992px){

}

@media only  screen and (max-width: 886px){
    .product-descript{
        margin-top: 20px;
    }

    .product-shipping{
        margin-top: 20px;
    }
}


@media only  screen and (max-width: 768px){

}


@media only  screen and (max-width: 576px){

}


@media only  screen and (max-width: 400px){

}
