@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";



.product-detail{
    padding-top: 83px;

    .container{
        max-width: 1185px;
    }
}

.product-galerry{

    .slick-slide img {
        display: block;
        height: 100%;
        object-fit: cover;
    }

    .module-gallery {
        width: 100%;
    }
    .module-gallery .slider-wrapper {
        display: flex;
        overflow: hidden;
        max-height: 353px;
        
        @media only screen and (max-width: 768px){
            &{
                max-height: 353px;
            }
        }
    }
    .module-gallery .slider-thumb {
        max-width: 85px;
    }
    .module-gallery .slider-thumb li {
        max-height: 110px;
        cursor: pointer;
    }

    .module-gallery .slider-preview{
        height: 100%;
    }

    .module-gallery .slider-preview li{
        height: 100%;
        cursor: grab;
    }

    .module-gallery .slider-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 

    .module-gallery .slider-thumb .slick-prev,
    .module-gallery .slider-thumb .slick-next {
        z-index: 1;
        height: 1em;
        width: 100%;
        opacity: 1;
        transition: opacity 300ms ease;
        font-size: 1.5em;
        color: #192D4F;
    }
    .module-gallery .slider-thumb .slick-prev:before,
    .module-gallery .slider-thumb .slick-next:before {
        content: '';
    }
    .module-gallery .slider-thumb .slick-prev:hover,
    .module-gallery .slider-thumb .slick-next:hover {
        opacity: 1;
    }
    .module-gallery .slider-thumb .slick-prev {
        left: unset;
        top: 0.5em;
    }
    .module-gallery .slider-thumb .slick-next {
        top: unset;
        right: unset;
        bottom: -0.5em;
    }

    .slick-track .slick-track { display: none; }


    @media (max-width: 767px) {
        .module-gallery .slider-wrapper {
            flex-direction: column-reverse;
        }
        .module-gallery .slider-thumb {
            max-width: 100%;
        }
        .module-gallery .slider-thumb .slick-prev,
        .module-gallery .slider-thumb .slick-next {
            top: 50%;
            width: 1em;
            height: 100%;
        }
        .module-gallery .slider-thumb .slick-prev {
            left: 0;
        }
        .module-gallery .slider-thumb .slick-prev .fa:before {
            content: "\f104";
        }
        .module-gallery .slider-thumb .slick-next {
            right: 0;
        }
        .module-gallery .slider-thumb .slick-next .fa:before {
            content: "\f105";
        }
    }
}

.product-descript{
    font-size: 10px;
    &__title{
        font-size: 1.8em;
        color: #172b4d;
        text-transform: uppercase;
        line-height: 25px;
    }

    &__rating{
        display: flex;
        align-items: center;
        padding-top: 10px;

        &--star{
            span{
                width: 16px;
                height: 16px;
                display: inline-flex;
                background-image: url('../images/star.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-right: 2.5px;

                &.active{
                    background-image: url('../images/star_2.svg');
                }

                &:last-child{
                    margin-left: unset;
                }
            }
        }

        &--count{
            font-size: 1.4em;
            color: #9a9a9a;
            margin-left: 5px;
        }
    }

    &__price{
        padding-top: 23px;
        ins{
            font-size: 1.8em;
            color: #eb0000;
            text-decoration: none;
        }

        del{
            font-size: 1.4em;
            color: #9a9a9a;
            padding-left: 8.5px;
            text-decoration: none;  
        }
    }

    &__option{
        padding-top: 18px;
        &--picker{
            display: block;
            position: relative;
            width: max-content;
            
            &:last-child{
                padding-top: 9px;
            }

            span{
                font-size: 1.4em;
                color: #172b4d;
                position: relative;
                z-index: 1;
                padding-left: 25px;
                &::before{
                    content:"";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    border: 1px solid #BBBBBB;
                    left: 0;
                    top: 0px;
                }

                &::after{
                    content:"";
                    position: absolute;
                    width: 7.5px;
                    height: 7.5px;
                    border-radius: 100%;
                    background: #EB0000;
                    top: 67.5%;
                    left: 0;
                    transform: translate(4px, -100%);
                    display: none;
                }
            }
        }
        
        input{
            position: absolute;
            width: 100%;
            opacity: 0;
            z-index: 5;
            height: 100%;
            cursor: pointer;

            &:checked ~ span{
                &::before{
                    border: 1px solid #EB0000;;
                }

                &::after{
                    display: block;
                }
            }
        }
    }

    &__add-cart{
        padding-top: 17px;
        form{
            display: flex;
            align-items: center;
        }

        .quantity{
            max-width: 120px;
            position: relative;

            &:focus-within{
                &::after{
                    display: none;
                }
            }

            &::after{
                content: "*";
                position: absolute;
                font-size: 1.4em;
                color: #EB0000;
                top:50%;
                left: 56%;
                transform: translate(-50%, -50%);
            }
            
            input{
                border: 2px solid #EDEEF0;
                
                

                &::placeholder{
                    font-size: 12px;
                    color: #A5A5A5;

                    
                }

                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            }
        }

        .btn-add-to-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            border-radius: 0.25rem;
            font-size: 1.4em;
            color: #fff;
            margin-left: 15px;
            border: none;
            outline: none;
            background: #EB0000;
            transition: .3s;

            &:hover{
                background: #a30101;
            }
        }

    }

    &__short-mt{
        padding-top: 20px;
        ul{
            list-style: disc;
            color: #9a9a9a;
            padding-left: 13px;
            li{
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}


.product-shipping{
    border: 1px solid #EAEBED;
    border-radius: 0.25rem;
    font-size: 10px;
    &__title{
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
        color: #172b4d;
        display: block;
        width: 100%;
        padding: 10px 0px 10px 15px;
        border-bottom: 1px solid #ECEDEF;
    }

    &__pos{
        padding: 0px 10px;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #E6E7EA;
            padding: 15px 0px;
            .info{
                display: flex;
                align-items: center;
            }

            .des-change{
                font-size: 1.4em;
                color: #172b4d;
                transition: .3s;
                border:none;
                outline: none;
                background: none;

                &.has-hv{
                    &:hover{
                        color: #508BF3;
                    }
                }
            }


            &:last-child{
                border-bottom: unset;
            }

            .fa{
                font-size: 20px;
                color: #172B4D;
                width: 20px;
                text-align: center;
            }

            p{
                padding-left: 11px;
                span{
                    display: block;
                    font-size: 1.4em;
                    &:nth-child(1){
                        color: #172b4d;
                    }

                    &:nth-child(2){
                        color: #9a9a9a;
                    }
                }

            }

        }
    }
}

.product-review{
    font-size: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    &__title{
        font-size: 2.4em;
        color: #172b4d;
        font-weight: bold;
    }

    &__status{
        font-size: 1.4em;
        padding-top: 20px;
        color: #172b4d;
    }

    &__rv-title{
        font-size: 1.4em;
        color: #172b4d;
        font-weight: bold;
        padding-top: 25px;
    }

    &__box{
        margin-top: 10px;
        border: 1px solid #EAEBED;
        border-radius: 0.25rem;

        &--rating{
            display: flex;
            justify-content: center;
            padding: 14px 0px;
            border-bottom: 1px solid #EAEBED;
            span{
                width: 20px;
                height: 20px;
                display: inline-flex;
                background-image: url('../images/star.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-right: 2.5px;

                &.active{
                    background-image: url('../images/star_2.svg');
                }

                &:last-child{
                    margin-left: unset;
                }
            }
        }

        &--review{
            padding: 20px 15px;
            textarea{
                border: none;
                outline: none;
                height: 96px;
                font-size: 1.4em;
                
            }

            .file-box{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                .btn-send{
                    height: 38px;
                    border-radius: .25rem;
                    background-color: #EB0000;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    flex: 0 0 24.3%;
                    border:none;
                    outline: none;
                    transition: .3s;

                    &:hover{
                        background-color: #b60101;
                    }
                }

              

                .input-file{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 13px;
                    color: #9a9a9a;
                    font-size: 14px;
                    border: 1px solid #E5E6E9;
                    border-radius: 0.25rem;
                    height: 38px;
                    flex: 0 0 70.7%;
                    position: relative;
                    
                
                    input{
                        width: 100%;
                        height: 38px;
                        opacity: 0;
                        position: absolute;
                        z-index: 9;
                        top: 0;
                        left: 0;
                    }
                    span{
                        width: max-content;
                        display: block;
                        position: relative;
                        color: #fff;
                        margin: auto;
                    }
                }
            }   
            
        }
    }
}















@import "responsive";
// ---------------------------------------------------------- responsive ------------------------------------------------