html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto';
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/font/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/font/Roboto-Regular.ttf");
  font-weight: bold;
}
.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 120px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 10px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #333;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.product-detail {
  padding-top: 83px;
}
.product-detail .container {
  max-width: 1185px;
}

.product-galerry .slick-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.product-galerry .module-gallery {
  width: 100%;
}
.product-galerry .module-gallery .slider-wrapper {
  display: flex;
  overflow: hidden;
  max-height: 353px;
}
@media only screen and (max-width: 768px) {
  .product-galerry .module-gallery .slider-wrapper {
    max-height: 353px;
  }
}
.product-galerry .module-gallery .slider-thumb {
  max-width: 85px;
}
.product-galerry .module-gallery .slider-thumb li {
  max-height: 110px;
  cursor: pointer;
}
.product-galerry .module-gallery .slider-preview {
  height: 100%;
}
.product-galerry .module-gallery .slider-preview li {
  height: 100%;
  cursor: grab;
}
.product-galerry .module-gallery .slider-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-galerry .module-gallery .slider-thumb .slick-prev,
.product-galerry .module-gallery .slider-thumb .slick-next {
  z-index: 1;
  height: 1em;
  width: 100%;
  opacity: 1;
  transition: opacity 300ms ease;
  font-size: 1.5em;
  color: #192D4F;
}
.product-galerry .module-gallery .slider-thumb .slick-prev:before,
.product-galerry .module-gallery .slider-thumb .slick-next:before {
  content: '';
}
.product-galerry .module-gallery .slider-thumb .slick-prev:hover,
.product-galerry .module-gallery .slider-thumb .slick-next:hover {
  opacity: 1;
}
.product-galerry .module-gallery .slider-thumb .slick-prev {
  left: unset;
  top: 0.5em;
}
.product-galerry .module-gallery .slider-thumb .slick-next {
  top: unset;
  right: unset;
  bottom: -0.5em;
}
.product-galerry .slick-track .slick-track {
  display: none;
}
@media (max-width: 767px) {
  .product-galerry .module-gallery .slider-wrapper {
    flex-direction: column-reverse;
  }
  .product-galerry .module-gallery .slider-thumb {
    max-width: 100%;
  }
  .product-galerry .module-gallery .slider-thumb .slick-prev,
  .product-galerry .module-gallery .slider-thumb .slick-next {
    top: 50%;
    width: 1em;
    height: 100%;
  }
  .product-galerry .module-gallery .slider-thumb .slick-prev {
    left: 0;
  }
  .product-galerry .module-gallery .slider-thumb .slick-prev .fa:before {
    content: "\f104";
  }
  .product-galerry .module-gallery .slider-thumb .slick-next {
    right: 0;
  }
  .product-galerry .module-gallery .slider-thumb .slick-next .fa:before {
    content: "\f105";
  }
}

.product-descript {
  font-size: 10px;
}
.product-descript__title {
  font-size: 1.8em;
  color: #172b4d;
  text-transform: uppercase;
  line-height: 25px;
}
.product-descript__rating {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.product-descript__rating--star span {
  width: 16px;
  height: 16px;
  display: inline-flex;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 2.5px;
}
.product-descript__rating--star span.active {
  background-image: url("../images/star_2.svg");
}
.product-descript__rating--star span:last-child {
  margin-left: unset;
}
.product-descript__rating--count {
  font-size: 1.4em;
  color: #9a9a9a;
  margin-left: 5px;
}
.product-descript__price {
  padding-top: 23px;
}
.product-descript__price ins {
  font-size: 1.8em;
  color: #eb0000;
  text-decoration: none;
}
.product-descript__price del {
  font-size: 1.4em;
  color: #9a9a9a;
  padding-left: 8.5px;
  text-decoration: none;
}
.product-descript__option {
  padding-top: 18px;
}
.product-descript__option--picker {
  display: block;
  position: relative;
  width: max-content;
}
.product-descript__option--picker:last-child {
  padding-top: 9px;
}
.product-descript__option--picker span {
  font-size: 1.4em;
  color: #172b4d;
  position: relative;
  z-index: 1;
  padding-left: 25px;
}
.product-descript__option--picker span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #BBBBBB;
  left: 0;
  top: 0px;
}
.product-descript__option--picker span::after {
  content: "";
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  border-radius: 100%;
  background: #EB0000;
  top: 67.5%;
  left: 0;
  transform: translate(4px, -100%);
  display: none;
}
.product-descript__option input {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 5;
  height: 100%;
  cursor: pointer;
}
.product-descript__option input:checked ~ span::before {
  border: 1px solid #EB0000;
}
.product-descript__option input:checked ~ span::after {
  display: block;
}
.product-descript__add-cart {
  padding-top: 17px;
}
.product-descript__add-cart form {
  display: flex;
  align-items: center;
}
.product-descript__add-cart .quantity {
  max-width: 120px;
  position: relative;
}
.product-descript__add-cart .quantity:focus-within::after {
  display: none;
}
.product-descript__add-cart .quantity::after {
  content: "*";
  position: absolute;
  font-size: 1.4em;
  color: #EB0000;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.product-descript__add-cart .quantity input {
  border: 2px solid #EDEEF0;
}
.product-descript__add-cart .quantity input::placeholder {
  font-size: 12px;
  color: #A5A5A5;
}
.product-descript__add-cart .quantity input::-webkit-inner-spin-button, .product-descript__add-cart .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.product-descript__add-cart .btn-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
  font-size: 1.4em;
  color: #fff;
  margin-left: 15px;
  border: none;
  outline: none;
  background: #EB0000;
  transition: .3s;
}
.product-descript__add-cart .btn-add-to-cart:hover {
  background: #a30101;
}
.product-descript__short-mt {
  padding-top: 20px;
}
.product-descript__short-mt ul {
  list-style: disc;
  color: #9a9a9a;
  padding-left: 13px;
}
.product-descript__short-mt ul li {
  font-size: 12px;
  line-height: 22px;
}

.product-shipping {
  border: 1px solid #EAEBED;
  border-radius: 0.25rem;
  font-size: 10px;
}
.product-shipping__title {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #172b4d;
  display: block;
  width: 100%;
  padding: 10px 0px 10px 15px;
  border-bottom: 1px solid #ECEDEF;
}
.product-shipping__pos {
  padding: 0px 10px;
}
.product-shipping__pos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #E6E7EA;
  padding: 15px 0px;
}
.product-shipping__pos li .info {
  display: flex;
  align-items: center;
}
.product-shipping__pos li .des-change {
  font-size: 1.4em;
  color: #172b4d;
  transition: .3s;
  border: none;
  outline: none;
  background: none;
}
.product-shipping__pos li .des-change.has-hv:hover {
  color: #508BF3;
}
.product-shipping__pos li:last-child {
  border-bottom: unset;
}
.product-shipping__pos li .fa {
  font-size: 20px;
  color: #172B4D;
  width: 20px;
  text-align: center;
}
.product-shipping__pos li p {
  padding-left: 11px;
}
.product-shipping__pos li p span {
  display: block;
  font-size: 1.4em;
}
.product-shipping__pos li p span:nth-child(1) {
  color: #172b4d;
}
.product-shipping__pos li p span:nth-child(2) {
  color: #9a9a9a;
}

.product-review {
  font-size: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
}
.product-review__title {
  font-size: 2.4em;
  color: #172b4d;
  font-weight: bold;
}
.product-review__status {
  font-size: 1.4em;
  padding-top: 20px;
  color: #172b4d;
}
.product-review__rv-title {
  font-size: 1.4em;
  color: #172b4d;
  font-weight: bold;
  padding-top: 25px;
}
.product-review__box {
  margin-top: 10px;
  border: 1px solid #EAEBED;
  border-radius: 0.25rem;
}
.product-review__box--rating {
  display: flex;
  justify-content: center;
  padding: 14px 0px;
  border-bottom: 1px solid #EAEBED;
}
.product-review__box--rating span {
  width: 20px;
  height: 20px;
  display: inline-flex;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 2.5px;
}
.product-review__box--rating span.active {
  background-image: url("../images/star_2.svg");
}
.product-review__box--rating span:last-child {
  margin-left: unset;
}
.product-review__box--review {
  padding: 20px 15px;
}
.product-review__box--review textarea {
  border: none;
  outline: none;
  height: 96px;
  font-size: 1.4em;
}
.product-review__box--review .file-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-review__box--review .file-box .btn-send {
  height: 38px;
  border-radius: .25rem;
  background-color: #EB0000;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 24.3%;
  border: none;
  outline: none;
  transition: .3s;
}
.product-review__box--review .file-box .btn-send:hover {
  background-color: #b60101;
}
.product-review__box--review .file-box .input-file {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 13px;
  color: #9a9a9a;
  font-size: 14px;
  border: 1px solid #E5E6E9;
  border-radius: 0.25rem;
  height: 38px;
  flex: 0 0 70.7%;
  position: relative;
}
.product-review__box--review .file-box .input-file input {
  width: 100%;
  height: 38px;
  opacity: 0;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}
.product-review__box--review .file-box .input-file span {
  width: max-content;
  display: block;
  position: relative;
  color: #fff;
  margin: auto;
}

@media only screen and (max-width: 886px) {
  .product-descript {
    margin-top: 20px;
  }

  .product-shipping {
    margin-top: 20px;
  }
}
